@charset "utf-8";
/* 
主要存放oa项目里的css
 */
 
 /********整体框架**********/
.qkybody{ background:#535353;}
.container-fluid{ padding:0;}
.navbar-default{ border-bottom:1px solid #d8d8d8;}
.windows_mian{height:100%;position: fixed;top:51px; left:0;z-index: 999; padding:0;background:#eaf3e3;}
.windows_mian.open{margin-top:0;z-index: 1000;}

/*窗口左边列表菜单*/
.windows_mian_left{ height:100%; position: absolute; left:0; overflow: hidden; padding-bottom:101px; padding-right:0;}

.menu_box{ padding:15px; margin-right:-15px; margin-top:5px;}
.menu_box h3{ margin:0; border-bottom:1px dashed #d8d8d8; padding:10px; padding-top:0;}
.menu_list a{ display:block; padding:10px; color:#535353; font-size:16px; cursor:pointer; margin-top:5px; line-height:30px;}
.menu_list a{ overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.menu_list a i{ width:30px; height:30px; background:#d8d8d8; border-radius:6px; text-align:center; line-height:30px; display:inline-block; font-size:18px; margin-right:10px;}
.menu_list a:hover,.menu_list a:focus{ text-decoration:inherit; background:#f5f5f5; border-radius:4px;}
.menu_list a.active{ color:#2baf2b;}
.menu_list a.active i{ background:#2baf2b; color:#fff;}

/*窗口右边框架*/
.windows_mian_right{height:100%; position:absolute; right:0; overflow: hidden; padding-bottom:101px;}
.right_box{ width:100%; height:100%;position:absolute; right:0;padding-bottom:101px; z-index:1001;transform:translateY(100%);}
.right_box.open{ z-index:1002;transform:translateY(0);}

/*窗口标签转换*/
.windows_bar{ padding-left:0; position:fixed; top:51px; right:0; z-index:1002; overflow-y:auto; min-height:100%;}
.windows_bar a{ display:block; width:90%; margin-left:5%; background:#f1f1f1; text-align:center; color:#737373; padding:15px 0; margin-top:10px; cursor:pointer;  border-radius:8px;position:relative;}
.windows_bar a:hover,.windows_bar a:focus{ background:#fff;text-decoration:inherit;}
.windows_bar a.active{ text-decoration:inherit; background:#eaf3e3; margin-left:-1px; border-left:none; border-radius:0 8px 8px 0; color:#2baf2b;}
.windows_bar a.active:hover,.windows_bar a.active:focus{ color:#72D572;}
.windows_bar a i{ display: none; position:absolute; right:-2px; top:-2px; width:20px; height:20px; background:#F0485F; border-radius:50%; color: #fff; text-align:center; line-height:20px;}
.windows_bar a:hover i{ display:block;}

/********自主日历插件***********/
.OA_calendar{}
.OA_calendar_ondate{ display:none;}
.OA_calendar_day{ border-right:1px solid #d8d8d8; padding:5px 15px 5px 30px; text-align:center; border-bottom:1px solid #d8d8d8;}
.OA_calendar_day label{ display:block; color:#2baf2b; font-size:40px; line-height:42px; margin:0;}
.OA_calendar_day span{ display:block; color:#333; line-height:24px;}
.OA_calendar_years{ line-height:74px; text-align:center;border-bottom:1px solid #d8d8d8;}
.OA_calendar_years>p{ font-size:18px; display:inline-block; padding:0 20px; margin:0; color:#2baf2b;}
.OA_calendar_years a{ display:inline-block; cursor:pointer;color:#2baf2b;}
.OA_calendar_years a:hover{ text-decoration:inherit;color:#2baf2b;}
.OA_calendar_years a i{ font-size:16px;}
.OA_calendar_mian .table>thead>tr>th{ padding:7px 0; text-align:center; border:0; background:#f5f5f5;}
.OA_calendar_mian .table>tbody>tr>td{ border:0; padding:4px 0;text-align:center;}
.OA_calendar_mian .table>tbody>tr>td a{ color:#737373; display:inline-block; width:30px; height:30px; line-height:28px;text-align:center;border-radius:50%; border:2px solid #fff; cursor:pointer;}
.OA_calendar_mian .table>tbody>tr>td a:hover{background:#eee;text-decoration:inherit;border-color:#ddd;}
.OA_calendar_mian .table>tbody>tr>td a.havedata{background:#72D572;  color:#fff;border-color:#72D572; position:relative;}
.OA_calendar_mian .table>tbody>tr>td a.havedata:hover{background:#2baf2b;border-color:#2baf2b;}
.OA_calendar_mian .table>tbody>tr>td a.today{background:#fff; color:#2baf2b; border-color:#2baf2b;}
.OA_calendar_mian .table>tbody>tr>td a.today:hover{background:#2baf2b; color:#fff;}
.OA_calendar_mian .table>tbody>tr>td a.active{background:#72D572;  color:#fff;border-color:#72D572; position:relative;}
.OA_calendar_mian .table>tbody>tr>td a.active:hover{background:#2baf2b;border-color:#2baf2b;}

.OA_calendar_times{ background:#fff; padding: 5px; margin:0; border-top:1px solid #eee; background:#f9f9f9; display:none; border-radius:0 0 4px 4px;}
.OA_calendar_times .times_control{ line-height:20px; position:relative; padding:5px 15%; margin:0 auto; text-align:center;}
.OA_calendar_times .times_control .time_chooseicon{ position:absolute; right:5%; top:0; height:30px; display:none;}
.OA_calendar_times .times_control:hover .time_chooseicon{ display:block;}
.OA_calendar_times .times_control i{ display:block; line-height:15px; height:15px; font-size:16px; cursor:pointer; color:#2baf2b;}
.OA_calendar_times .times_control i:hover{ color:#737373;color:#72D572;}

.inmail_calendar_box a.inmail_calendar_btn{ color:#333;}
.inmail_calendar_box a.inmail_calendar_btn.active{ background:#fff; text-decoration:inherit; color:#2baf2b;}
.inmail_calendar_box input.inmail_calendar_btn{ background:url(../images/calicon.png) no-repeat 98% center #fff; padding-right:30px;}
.inmail_calendar_box .OA_calendar.inmail_calendar{ display:none;}
.inmail_calendar{ width:240px; position:absolute; right:0; top:110%; z-index:1003; border-radius:4px;}
.inmail_calendar.po_leftup{ top:auto; left:0; bottom:110%;}
.inmail_calendar.po_leftdown{ left:0; top:110%}
.inmail_calendar.po_rightup{ right:0; bottom:110%;top:auto;}
.inmail_calendar .OA_calendar_ondate{ display:block; background:#2baf2b; color:#fff; line-height:26px;}
.inmail_calendar .OA_calendar_day{ display:none;}
.inmail_calendar .OA_calendar_years{ width:100%; line-height:40px;border-bottom:0;}
.inmail_calendar .OA_calendar_mian{ width:100%;}
.inmail_calendar .OA_calendar_mian .table>thead>tr>th{ padding:7px 0; text-align:center; border:0; background:#2baf2b; color:#fff;}



/********切换动画***********/
/*动画执行*/
.windows_mian,
.index_,
.windows_bar a,
.right_box,
.OA_calendar_mian .table>tbody>tr>td a,
.group_changebox,
.userChoose_list{
	-webkit-transition: all 0.25s ease-out 0s;
	-moz-transition: all 0.25s ease-out 0s;
	transition: all 0.25s ease-out 0s;
}

/*透明度0%*/
.windows_mian,
.index_,
.right_box,
.userChoose_list{
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	filter:alpha(opacity=0);
	filter:"alpha(opacity=0)";
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

/*透明度100%*/
.windows_mian.open,
.index_.open,
.right_box.open,
.userChoose_list.open{
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	filter:alpha(opacity=100);
	filter:"alpha(opacity=100)";
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

/********嵌套内页***********/

/***嵌套页消除滚动条套餐***/
.oabasebg{background:#eaf3e3; position:absolute; left:0; top:0; width:100%; height:100%; overflow:hidden;}
.scrrol_box{ width:140%; height:100%; overflow-y:scroll ; padding-right:40%;}


/***首页css***/

/*首页表格导航头*/
.nav.nav-tabs li{ cursor:pointer;}
.nav.nav-tabs li a{ color:#535353; font-size:16px;}
.nav.nav-tabs li.active a{ color:#2baf2b;}

/*首页表格*/
.table_box{ width:100%;position:relative;}
.navcont_box{ display:none;}
.navcont_box.open{ display:block;}
.navlist{ display:block; width:100%; padding:10px 2px; border-bottom:1px dashed #d8d8d8; cursor:pointer;}
.navlist:hover{ background:#f5f5f5;}
.navlist span{ float:left; display:block;overflow:hidden;text-overflow:ellipsis; white-space:nowrap;}
.navlist span.one{ width:54%; color:#333;}
.navlist span.two{ width:12%; margin:0 1%; color:#a3a3a3; text-align: center;}
.navlist span.three{ width:32%;color:#a3a3a3; text-align:right;}
.navlist span.four{ width:46%;color:#a3a3a3; text-align:right;}
.navmore{display:block;width:100%; padding:10px 2px; cursor:pointer; color:#636363; text-align:right;}

/*首页个人设置*/
.setting_box{padding:15px 30px 5px; margin-top:20px;}
.setting_box h3{ margin:0 0 20px}

.tips_box label{ padding:5px 10px; border:1px solid #d8d8d8; border-radius:4px; background:#f1f1f1;}
.tips_box label i{ position:absolute; right:-8px; top:-8px;display: inline-block; width:20px; height:20px; background:#F0485F; border-radius:50%; color: #fff; text-align:center; line-height:20px; margin-left:5px; cursor:pointer;}

.signed_box{ width:100%; margin:10px 0 20px; padding:10px; border:1px dashed #d8d8d8; background:#fff; border-radius:8px;}
.signed_box img{ min-width:30%; margin:0 auto; display:block; max-width:80%;}


/***通讯录css***/
.minheight{ min-height:500px;}
h3.header_title{ margin:0 0 15px; border:1px solid #d8d8d8; padding:15px; background:#fff; font-size:20px; line-height:22px;}
h3.header_title>i{ color:#2baf2b;line-height:22px; display:inline-block;}
h4.header_title{ border-bottom:1px dashed #d8d8d8; padding:10px 0; margin:0; line-height:25px;}

.search_box{ padding:15px 20px; background:#f6f6f6; display:none; border-bottom:1px solid #d8d8d8;}

.group_list{}
.group_list a{ display:block; position:relative;}
.group_list a span{display:block; padding:15px; color:#333; background:#f9f9f9; margin-top:10px; cursor:pointer; border:1px solid  #fff; border-radius:4px;}
.group_list a i{ display:none; position:absolute; right:15px; top:25px; color:#333;}
.group_list a i.edit{ right:40px;}
.group_list a:hover{ text-decoration:inherit;}
.group_list a:hover span{ text-decoration:inherit; background:#fff; border-color:#d8d8d8;}
.group_list a.active span{ background:#2baf2b; color:#fff; border-color:#179017;}
.group_list a:hover i{ display:block; color:#333;}
.group_list a.active:hover i{ color:#fff;}

.group_changebox{ width:100%; padding:15px; background:#fff; display:none;}
.group_changebox.open{ display:block;}
.overflow_hidden{overflow:hidden;}

#groupuser_choose .modal-body{ padding:0;}
.userChoose_box{ width:100%; margin:0; border-bottom:1px solid #d8d8d8;}
.userChoose_box .nav>li>a{ padding:5px 15px;}
.userChoose_cont{ border-right:1px solid #d8d8d8;height:600px;}
.userChoose_cont h4{ margin:0; padding:15px; margin:0 -15px; background:#f5f5f5; border-bottom:1px solid #d8d8d8; font-size:16px; color:#232323;}
.userChoose_ul{ position:relative; height:500px;}
.userChoose_list{ position:absolute; top:0; left:0; width:100%; background:#fff; height:100%; overflow:hidden; z-index:1001;}
.userChoose_list.open{ z-index:1002;}

.userChoose_list .group_list{ margin-right:-15px;}
.userChoose_list .checkbox{ margin-right:-15px;}
.userChoose_cao{ background:#eee; padding:10px 0;}
.userChoose_cao .checkbox{ height:30px;}
.userChoose_name label{ display:block; margin-bottom:5px;}

.userchoose_on{ margin:10px -15px 10px 0;}
.userchoose_on a{display: block; color:#535353; padding:5px 10px; margin-bottom:5px; cursor:pointer; position:relative; border-radius:4px;}
.userchoose_on a:hover{ background:#f5f5f5; color:#333; text-decoration:inherit;}
.userchoose_on a i{ position:absolute; right:5px; top:5px; display:none; width:20px; height:20px; line-height:20px; text-align:center; background:#F0485F; color:#fff; border-radius:50%;}
.userchoose_on a:hover i{ display:block;}

/***邮箱css***/

.fixed_header{ position:fixed; top:0; left:0; width:100%; z-index:1039; padding:20px 17px 0 15px;}

.mt_fixed_one{ margin-top:61px;}
.mt_fixed_one2{ margin-top:53px;}
.mt_fixed_two{ margin-top:115px;}

.mail_toolbar{ background:#f9f9f9; padding:15px; border-bottom:1px solid #d8d8d8;}
.fixed_header .mail_toolbar{ border:1px solid #d8d8d8; margin-top:-1px;}
.fixed_header h3.header_title{border:1px solid #d8d8d8;}

.enclosure_listbox{ width:100%; margin-top:10px;}
.enclosure_list{ width:100%; margin-right:10px; display:block; color:#333; padding:5px 10px 1px; background:#f5f5f5; border-radius:4px 4px 0 0;  cursor:pointer; margin-bottom:14px; position:relative; float:left;}
.enclosure_list:hover{ text-decoration:inherit; background:#eee; }
.enclosure_list_progress{ position:absolute; top:100%; left:0; height:4px; width:100%; margin:0; border-radius:0 0 4px 4px;}
.enclosure_list_progress .progress-bar { line-height:4px;}
.enclosure_list_txt{ position:relative; z-index:222; padding-right:16px;}
.enclosure_name{ float:left; width:80%;}
.enclosure_ing{ float:right; width:20%; text-align:right;}
.enclosure_list_txt i{ width:16px; height:16px; line-height:16px; text-align: center; display:inline-block; background:#F0485F; border-radius:50%; color:#fff; position:absolute; right:-4px; top:2px;}
.enclosure_list_txt i.download{ right:16px; background:none; color:#2baf2b; font-weight:bold;}

.collect_type_box{ padding:15px 15px 0;}
.collect_list_box{ padding:15px;}
.collect_list_box table tbody tr{ cursor:pointer;}
.collect_list_box .checkbox_a,.table .checkbox_a{ margin-top:3px;}
.collect_list_box .mail_state,.mail_state{ color:#F8C634 !important;}
.collect_list_box .mail_state_read,.mail_state_read{ color:#d8d8d8 !important;}
.collect_list_box .mail_state_edit,.mail_state_edit{ color:#2baf2b !important;}

.check_list_box{ padding:5px 0; background:#f5f5f5; border:1px solid #d8d8d8;}
.check_list{ padding:10px 15px; font-size:18px; color:#222; line-height:24px;}
.check_list .one{ float:left; width:auto;font-size:16px;color:#232323;}
.check_list .two{ float:left; width:auto; color:#737373;font-size:14px; max-width:90%;}
.check_list .two span{ display:none; background:#72D572; border-radius:8px; color:#fff; padding:5px 10px; line-height:16px; margin-left:5px; height:26px; float:left;}
.check_list .two span.firse{border-radius:8px 0 0 8px; border-right:1px  solid #2baf2b; display:inline-block; margin-left:0;}
.check_list .two span.spanshow{ display:inline-block; margin-bottom:5px;}
.check_list .two i.morelist{ display:block; float:left; background:#72D572; border-radius:0 8px  8px 0; color:#fff; padding:5px 10px; line-height:16px;}
.check_list .two .morelist_close{ background:#F0485F;}

.mail_check_cont{ padding: 15px;}
.mail_check_enclosure{ border:1px solid #d8d8d8; background:#fff; padding:0 15px;}
.mail_check_enclosure h4{ margin:0; padding:15px 0; border-bottom:1px dashed #d8d8d8;}
.mail_check_enclosure h4 a{ font-size:14px;cursor:pointer;}
.mail_check_enclosure ul{ list-style:none; margin:0; padding:0;}
.mail_check_enclosure li{ list-style:none; float:left; width:20%;}
.mail_check_enclosure li a{ display:block; padding:15px 10px;}
.mail_check_enclosure li a:hover{ text-decoration:inherit; cursor:pointer; background:#f9f9f9;}
.mail_check_enclosure li i{ display:block; font-size:40px; text-align:center; color:#535353;}
.mail_check_enclosure li label{ text-align:center;display:block; color:#333;}
.mail_check_enclosure li span{ text-align:center;display:block; color:#737373;}

/****公文,流程****/

.table .title{ background:#eee; vertical-align:middle; width:12%; font-weight:bold;}
.doc_nav{ border-bottom:none;}
.doc_nav > li.active > a, .doc_nav > li.active > a:hover, .doc_nav > li.active > a:focus{ background:#f5f5f5;}

.twopage{ display:none;}
.twopage.open{ display:block;}
.onepage{ display:none;}
.onepage.open{ display:block;}



.following_view_s{ padding:15px 15px 0;}
.following_viewlist_s{ position: relative;}
.following_viewline{ position:absolute; top:0; left:5%; margin-left:-5px; width:1px; height:100%; background:#eee;}
.following_viewicon{ width:10%; position:relative; z-index:0;}
.following_viewicon .stateicon{color:#939393; width:30px; font-size:20px; display:block; height:30px; line-height:30px; margin:10px auto 0;}
.following_viewinfo_s{  color:#939393;padding:10px 20px; border-bottom:1px solid #eee; width:90%;}
.following_viewinfo_s span{ display:block; line-height:24px; font-size:14px;}
.following_viewlist_s.wait .stateicon{ color: #2baf2b;}
.following_viewlist_s.wait .following_viewinfo_s{ color:#2baf2b;}
.following_viewlist_s.stop .stateicon{ color: #F0485F;}
.following_viewlist_s.stop .following_viewinfo_s{ color:#F0485F;}
			 
.following_table{ display:none; margin-bottom:-1px;}

.readinfo_box{ padding:0 0 15px; margin:0;}
.readinfo_list{ background:#fff; border:1px solid #d8d8d8; padding:15px 0;}
.readinfo_list i{ display:block; float:left; width:40%; text-align:center; font-size:40px;color:#2baf2b;}
.readinfo_list a{ display:block; float:left; width:60%;}
.readinfo_list a label{ display:block; font-size:20px; color:#2baf2b;}
.readinfo_list a span{ display:block; font-size:14px; color:#737373;}

.readinfo_list.read i{ color:#72D572;}
.readinfo_list.read a label{color:#72D572;}
.readinfo_list.waitread i{ color:#F0485F;}
.readinfo_list.waitread a label{color:#F0485F;}


.sch_week tbody tr td{ padding:10px 0 ; text-align:center; vertical-align:middle;}
.sch_week thead tr th{ text-align:center;}
.sch_week tbody tr.today td{ background:#eaf3e3;}
.sch_week tbody tr td .sch_listbox{ padding:10px 10px 5px; min-height:60px !important;}
.sch_listbox{ padding:10px 10px 5px; min-height:60px !important;}
.sch_list{ padding:8px 10px; background:#f5f5f5; color:#535353; margin-bottom:5px; display:block; cursor:pointer; border-radius:4px;}
.sch_list:hover,.sch_list.hover{ color:#333; text-decoration:inherit; background:#e1e1e1}
.sch_list i{color:#51b351;}
.sch_list:hover i{ color:#2baf2b}
.sch_list.group i{ color:#FFCA28;}
.sch_list.group:hover i{color:#ddaa16;}
.sch_list i{ font-size:16px; margin-right:5px;}
.sch_id{ position:absolute; height:38px; width:4px; border-radius:4px 0 0 4px; top:0; left:0; background:#2baf2b;}
.sch_id.right{ left:auto; right:0;border-radius:0 2px 2px 0;}
.sch_list.group .sch_id{ background:#FFCA28;}
.sch_add{ position:absolute; right:20px; top:50%; margin-top:-15px; width:30px; height:30px; border-radius:50%; border:2px solid #fff; text-align:center; line-height:26px; color:#2baf2b; font-weight:bold; background:#fff; z-index:4;}

.sch_add:hover{ color:#fff; border-color:#2baf2b; text-decoration:inherit; background:#2baf2b;}



.tips_box{ padding:15px; display: inline-block;background:#f5f5f5; border:1px solid #d8d8d8; border-radius:4px; position:absolute; z-index:99; top:100%; left:15px; display:none;}
.tips_:hover .tips_box{ display:block;}

.saveState{ padding:8% 0;  }

.steps_title{ background:#f1f1f1; padding:10px; border-bottom:1px solid #e5e5e5; color:#666; font-size:14px; }
.steps_title label{ font-size:15px;color:#2baf2b; font-weight:normal;}

.bds_box{ border:1px dashed #d8d8d8; border-radius:4px; padding:10px; background:#f9f9f9; }
.bds_libtn{ float:left; padding:5px 10px; background:#fff; border-radius:4px; margin-right:10px;}

.nav-btnDlink .btn{ color:#333; border:none;border-bottom:2px solid #fff; padding:6px 15px 4px; font-size:16px; box-shadow:none; border-radius:0;}
.nav-btnDlink .btn.active,.nav-btnDlink .btn:hover{ border-color:#2baf2b; color:#2baf2b;}

